Bin/*
!Bin/skin/
Bin/skin/*
!Bin/skin/*.xml

ipch/
output/

TinyRss/sqlite3/*
!TinyRss/sqlite3/*.txt

TinyRss/tinyxml2/*
!TinyRss/tinyxml2/dir.txt

TinyRss/zlib128/*
!TinyRss/zlib128/dir.txt

TinyRss.aps
TinyRss.sdf
